body{
    background-color: white;
}
.navbar-brand img{
    width: 5vw;
}
.logo{
    height:5vh;
}
footer img {
    width: 2vw;
}
a{
    color:red;
    border-radius: 10%;
}
a:hover{
    background-color: silver;
}