body{
    background-color: red;
   
}

.logo{
    height:90px;
}
a{
    color:red;
    border-radius: 10%;
<<<<<<< HEAD:css/style.css
    

=======
>>>>>>> b10a284f048be83e1cc9601927aa4717663db8ea:style.css
}
a:hover{
    background-color: silver;
}
header{
    display: block;
    height: 15vh;
    border-bottom: 2px solid red;
}
.footerimg{
    height: 3vh;

}
.article{
    display: block;
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: visible;
}
.main{
    display: block;
    color: aliceblue;
    position: relative;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/photos/backgroun\ img\ daniel\ yaso.jpg);
    background-size: cover;
}

.col{
<<<<<<< HEAD:css/style.css
    font-family: 'Bebas Neue', cursive;
    font-size: large;
}

=======
    font-size: 3vw;
    font-weight: bolder;
    align-items: center;
}
>>>>>>> b10a284f048be83e1cc9601927aa4717663db8ea:style.css
