    body{
      background-image: url(/photos/back\ g\ teamm.jpg);
      background-size: 100% 100%;
    }
    .team-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100%;
    width: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
  }
  
  .main-team {
    top: 50%;
    left: 545px;
    right: 30px;
    transform: translate(-50%, -50%);
    color: white;
}
  
  h1, p{
      font-size: 15px;
      color: white;
      font-family: 'Lobster', cursive;
  }

  .card{
    width: 18rem;
    height: 10%;  
    justify-content: flex-start;
    color: black;   
  }
 .row{
      display: flex;
      justify-content: space-between;
 }
  .square-box{
      max-width: 600px;
      min-height: 600px;
      border: 1px solid black;
  }
  .main{
      background-color: blue;
      height: 50px;
  }