
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    
}
  
  .team-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100%;
    width: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
  }
  
  .main-team {
    top: 50%;
   left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .team-text button {
    border: none;
    outline: 0;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: start;
    cursor: pointer;
  }
  
  .team-text button:hover {
    background-color: #555;
    color: white;
  }
  h1, p{
      font-size: 15px;
  }

  .card{
    width: 22%;
    height: 10%;  
    justify-content: flex-start;   
  }
  .row{
      display: flex;
      justify-content: space-between;
  }