body{
    background-image: url(/photos/video\ bgg.jpg) ;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.navbar-brand img{
    width: 15vw;
}
.video:hover{
    animation: zoom 0.5s  alternate;
}
@keyframes zoom {
    from{
        width: 25vw;
        height: 30vh;
    }
    to{
        width: 25vw;
        height: 30vh;
    }
}
.video1:hover{
    animation: zoom 0.5s alternate;
}
@keyframes zoom {
    from{
    }
    to{
        width: 25vw;
        height: 30vh;    }
}
.video2:hover{
    animation: zoom 0.5s alternate;
}
@keyframes zoom {
    from{
    }
    to{
        width: 25vw;
        height: 30vh;    }
}
.video3:hover{
    animation: zoom 0.5s alternate;
}
@keyframes zoom {
    from{
    }
    to{
        width: 25vw;
        height: 30vh;    }
}
.video4:hover{
    animation: zoom 0.5s alternate;
}
@keyframes zoom {
    from{
    }
    to{
        width: 25vw;
        height: 30vh;    }
}
.video5:hover{
    animation: zoom 0.5s alternate;
}
@keyframes zoom {
    from{
    }
    to{
        width: 25vw;
        height: 30vh;    }
}
.video6:hover{
    animation: zoom 0.5s alternate;
}
@keyframes zoom {
    from{
    }
    to{
        width: 25vw;
        height: 30vh;    }
}
.video7:hover{
    animation: zoom 0.5s alternate;
}
@keyframes zoom {
    from{
    }
    to{
        width: 25vw;
        height: 30vh;    }
}
.video8:hover{
    animation: zoom 0.5s alternate;
}
@keyframes zoom {
    from{
    }
    to{
        width: 25vw;
        height: 30vh;    }
}
.video9:hover{
    animation: zoom 0.5s alternate;
}
@keyframes zoom {
    from{
    }
    to{
        width: 25vw;
        height: 30vh;
    }
}
.video10:hover{
    animation: zoom 0.5s alternate;
}
@keyframes zoom {
    from{
    }
    to{
        width: 25vw;
        height: 30vh;
        }
}
.video11:hover{
    animation: zoom 0.5s alternate;
}
@keyframes zoom {
    from{
    }
    to{
        width: 25vw;
        height: 30vh;
    }
}