body{
    background-image: url(/photos/video\ bgg.jpg) ;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.navbar-brand img{
    width: 15vw;
}


.video{
    height: 20vh;
    width: 20vw;
    transition: 300ms;
}
.video:hover{
    height: 25vh;
    width: 23vw;
}