body{
    background-image: url(../photos/bgg.jpg) ;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.navbar-brand img{
    width: 15vw;
}
@media screen and (min-width:540px){ 
.video{
    height: 20vh;
    width: 20vw;
    transition: 300ms;
}
.video:hover{
    height: 25vh;
    width: 23vw;
}
}
@media screen and (max-width:540px){ 
    .video{
        height: 20vh;
        width: 60vw;
        transition: 300ms;
    }
    .video:hover{
        height: 28vh;
        width: 63vw;
    }
}