body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(photos/backgroun\ img\ daniel\ yaso.jpg);
    background-size: cover;
}

.logo{
    height:90px;
}
a{
    color:red;
    border-radius: 10%;

}
a:hover{
    background-color: gray;
}
header{
    height: 15vh;
    position: sticky;
}
